<tr class="item_table_row">

  <td class="row_index"><%= f.index == 0 ? 1 : f.index %></td>
  <td class="first_input"><%= f.text_field :brand_name, class: 'form-control' %></td>
  <td><%= f.text_field :item_name, class: 'form-control' %></td>
  <td class="item_quantity_field"><%= f.text_field :quantity, class: 'form-control' %></td>
  <td><%= f.text_field :weight, class: 'form-control' %></td>
  <td><%= f.text_field :measurement, class: 'form-control' %></td>
  <td class="item_cost_field"><%= f.text_field :cost, :value => number_to_currency(f.object.cost, :precision => 2), class: 'form-control' %></td>
  <td class="item_total_cost_field"><%= f.text_field :item_total_cost, :value => number_to_currency(f.object.item_total_cost, :precision => 2), class: 'form-control item-total-cost'%></td>
</tr>
